/* o que e cpaas*/
.oque-cpaas .container{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.551);
   background-image: url(../images/zaun-4.jpg); 
  background-size: cover;
  background-blend-mode: darken;
  display: flex;
  align-items: center;
}

.oque-cpaas .oque-cpaas-text{
  width: 50%;
  padding: 0 40px;
}

.oque-cpaas .oque-cpaas-text h3{
  font-size: 3.4rem;
  color: #8b6b37;
}

.oque-cpaas .oque-cpaas-text p{
  margin: 5px 0 10px 0;
  font-size: 2.4rem;
  color: #c0b599;
}

.oque-cpaas .oque-cpaas-img{
  width: 50%;
}

.oque-cpaas .oque-cpaas-img img{
  width: 100%;
}


.oque-cpaas2 .container{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.551);
   background-image: url(../images/piltover-sect.jpg); 
  background-size: cover;
  background-blend-mode: darken;
  display: flex;
  align-items: center;
}

.oque-cpaas2 .oque-cpaas2-text{
  width: 50%;
  padding: 0 30px;
}

.oque-cpaas2 .oque-cpaas2-text h3{
  font-size: 3.4rem;
  color: #8b6b37;
}

.oque-cpaas2 .oque-cpaas2-text p{
  margin: 5px 0 10px 0;
  font-size: 2.4rem;
  color: #c0b599;
}

.oque-cpaas2 .oque-cpaas2-img{
  width: 50%;
 margin-right: 20srem;
}

.oque-cpaas2 .oque-cpaas2-img img{
  width: 100%;
}


@media(max-width: 830px){
  
  .oque-cpaas .oque-cpaas-text{
      margin-top: 10px;
      padding: 0 20px;
      order: 1;
  }
  .oque-cpaas .container{
      flex-direction: column;
  }
  .oque-cpaas .oque-cpaas-text h3{
      font-size: 48px;
  }
  .oque-cpaas .oque-cpaas-text,
  .oque-cpaas .oque-cpaas-img{
      width: 100%;
  }

  .oque-cpaas2 .oque-cpaas2-text{
      margin-top: 10px;
      padding: 0 20px;
      order: 1;
  }
  .oque-cpaas2 .container{
      flex-direction: column;
  }
  .oque-cpaas2 .oque-cpaas2-text h3{
      font-size: 48px;
  }
  .oque-cpaas2 .oque-cpaas2-text,
  .oque-cpaas2 .oque-cpaas2-img{
      width: 100%;
  }

 
}




.button-60 {
  width: 50%;
  background-color: #705a21;
  align-items: center;
  appearance: none;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #f4b95a;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-60:active {
  border-color: #4a4a4a;
  outline: 0;
}

.button-60:focus {
  border-color: rgba(0, 0, 0, 0.645);
  outline: 0;
}

.button-60:hover {
  border-color: #b5b5b5;
}

.button-60:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}