/* o que e cpaas*/
.oque-cpaas .container{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(../images/midia-img.jpg);
  background-size: cover;
  background-blend-mode: darken;
  display: flex;
  align-items: center;
}

.oque-cpaas .oque-cpaas-text{
  width: 50%;
  padding: 0 40px;
}

.oque-cpaas .oque-cpaas-text h3{
  font-size: 3.4rem;
  color: #8b6b37;
}

.oque-cpaas .oque-cpaas-text p{
  margin: 5px 0 10px 0;
  font-size: 2.4rem;
  color: #c0b599;
}

.oque-cpaas .oque-cpaas-img{
  width: 50%;
}

.oque-cpaas .oque-cpaas-img img{
  width: 100%;
}


.oque-cpaas2 .container{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(../images/vi-block.jpeg);
  background-size: cover;
  background-blend-mode: darken;
  display: flex;
  align-items: center;
}

.oque-cpaas2 .oque-cpaas2-text{
  width: 50%;
  padding: 0 30px;
}

.oque-cpaas2 .oque-cpaas2-text h3{
  font-size: 3.4rem;
  color: #8b6b37;
}

.oque-cpaas2 .oque-cpaas2-text p{
  margin: 5px 0 10px 0;
  font-size: 2.4rem;
  color: #c0b599;
}

.oque-cpaas2 .oque-cpaas2-img{
  width: 50%;
 margin-right: 20rem;
}

.oque-cpaas2 .oque-cpaas2-img img{
  width: 100%;
}


@media(max-width: 830px){
  
  .oque-cpaas .oque-cpaas-text{
      margin-top: 10px;
      padding: 0 20px;
      order: 1;
  }
  .oque-cpaas .container{
      flex-direction: column;
  }
  .oque-cpaas .oque-cpaas-text h3{
      font-size: 48px;
  }
  .oque-cpaas .oque-cpaas-text,
  .oque-cpaas .oque-cpaas-img{
      width: 100%;
  }

  .oque-cpaas2 .oque-cpaas2-text{
      margin-top: 10px;
      padding: 0 20px;
      order: 1;
  }
  .oque-cpaas2 .container{
      flex-direction: column;
  }
  .oque-cpaas2 .oque-cpaas2-text h3{
      font-size: 48px;
  }
  .oque-cpaas2 .oque-cpaas2-text,
  .oque-cpaas2 .oque-cpaas2-img{
      width: 100%;
  }

 
}
