/* o que e cpaas*/
.oque-cpaas .container{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.551);
   background-image: url(../images/zaun-4.jpg); 
  background-size: cover;
  background-blend-mode: darken;
  display: flex;
  align-items: center;
}

.oque-cpaas .oque-cpaas-text{
  width: 50%;
  padding: 0 40px;
}

.oque-cpaas .oque-cpaas-text h3{
  font-size: 3.4rem;
  color: #8b6b37;
}

.oque-cpaas .oque-cpaas-text p{
  margin: 5px 0 10px 0;
  font-size: 2.4rem;
  color: #c0b599;
}

.oque-cpaas .oque-cpaas-img{
  width: 50%;
}

.oque-cpaas .oque-cpaas-img img{
  width: 100%;
}


.oque-cpaas2 .container{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.551);
   background-image: url(../images/piltover-sect.jpg); 
  background-size: cover;
  background-blend-mode: darken;
  display: flex;
  align-items: center;
}

.oque-cpaas2 .oque-cpaas2-text{
  width: 50%;
  padding: 0 30px;
}

.oque-cpaas2 .oque-cpaas2-text h3{
  font-size: 3.4rem;
  color: #8b6b37;
}

.oque-cpaas2 .oque-cpaas2-text p{
  margin: 5px 0 10px 0;
  font-size: 2.4rem;
  color: #c0b599;
}

.oque-cpaas2 .oque-cpaas2-img{
  width: 50%;
 margin-right: 20srem;
}

.oque-cpaas2 .oque-cpaas2-img img{
  width: 100%;
}


@media(max-width: 830px){
  
  .oque-cpaas .oque-cpaas-text{
      margin-top: 10px;
      padding: 0 20px;
      order: 1;
  }
  .oque-cpaas .container{
      flex-direction: column;
  }
  .oque-cpaas .oque-cpaas-text h3{
      font-size: 48px;
  }
  .oque-cpaas .oque-cpaas-text,
  .oque-cpaas .oque-cpaas-img{
      width: 100%;
  }

  .oque-cpaas2 .oque-cpaas2-text{
      margin-top: 10px;
      padding: 0 20px;
      order: 1;
  }
  .oque-cpaas2 .container{
      flex-direction: column;
  }
  .oque-cpaas2 .oque-cpaas2-text h3{
      font-size: 48px;
  }
  .oque-cpaas2 .oque-cpaas2-text,
  .oque-cpaas2 .oque-cpaas2-img{
      width: 100%;
  }

 
}


.button-89 {
  --b: 3px;   
  --s: .45em; 
  --color: #8b6b37; 
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;
cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
