@use 'personagem';
@use 'header';
@use 'card-grid';
@use 'game';
@use 'people-zaun';
@use 'zaun-city';
@use 'footer';
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #c0b599;
}

body{
  background-color: black;
}
:root {
  font-size: 65.5%;
}

::-webkit-scrollbar{
  width: 10px;
  display: none;
}

::-webkit-scrollbar-thumb{
  background-color: #c0b599;
  border-radius: 5px;
}



.title-big {
  font-size: 3.4rem;
  color: #8b6b37;
  font-family: 'League Gothic', sans-serif;
  letter-spacing: 1;
}

.title--medium {
  font-size: 2.4rem;
  color: #c0b599;
  font-family: 'League Gothic', sans-serif;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
}



// zaun introduction
#zaun-region {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
   padding: 1.25rem;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(../images/zaun.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
  backdrop-filter: blur(2px);
}

.title-big {
  margin: 2.4rem 2.4rem;
  letter-spacing: 2px; /* Ajuste o espaçamento entre letras */
}

.img-icon-zaun img {
  transition: transform 0.3s ease-in-out;
}

.img-icon-zaun img:hover {
  transform: scale(1.1); /* Efeito de escala (hover) na imagem do ícone */
}

.description-zaun {
  width: 80%;
}

// zaun end introduciton





// zaun city
#zaun-region1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
   padding: 1.25rem;
  background-position:  center center;
  background-image: url(../images/renata-bsron.jpg);
  background-size: cover;
  background-blend-mode: darken;
  backdrop-filter: blur(2px);
}
#zaun-region3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
   padding: 1.25rem;
  background-color: rgba(0, 0, 0, 0.0);
  background-image: url(../images/lab-quimtec.jpg);
  background-size: cover;
  background-blend-mode: darken;
  backdrop-filter: blur(2px);
}



// scroll-top

.scrollTop {
  outline: none;
  border: 0;
  background-color: white;
  width: 60px;
  height: 60px;
  padding: 8px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none; 
}

.scrollTop img {
  width: 100%;
  height: 100%;
}

.scrollTop.show {
  display: block; 
}
.hidden{
  display: none;
}

// scroll-top-end


@media screen and (max-width: 768px) {
  .arc__box {
    padding: 10px;
    position: relative;
    top: 5rem;
    left: 0;
    right: 1rem;
    bottom: 0;
  }

.arc_nav_theme{
  margin-top: 2.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(2px);
}


  input[type="email"] {
    width: 100%;
  }
}