// people of zaun
.container3{
  display: flex;
  width: 100%;
background-color: #050505;
height: 50%;
background-color: rgba(0, 0, 0, 0.6);
  background-image: url(../images/zaun-depths.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
}

.painel{
  background-size: auto 100%;
  background-position: center;
  background-repeat:  no-repeat;
  height: 80vh;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.painel h3{
  font-size: 1.5rem;
}
.painel:active{
  flex: 5;
}
.painel.active h3{
  opacity: 1;
  transition: opacity 2s ease-in;
}
.text{
    text-align: center;
}

@media (max-width: 768px){
  .container3{
    width: 100%;
    height: 50%;
  }
  .painel:nth-of-type(4),
  .painel:nth-of-type(5){
    display: none;
  }
}
// people zaun end