@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

::-webkit-scrollbar{
  width: 10px;
  display: block;
}

::-webkit-scrollbar-thumb{
  background-color: #c0b599;
  border-radius: 5px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;;
}

body{
  /* background: linear-gradient(to bottom,  #8B0000 , #006400); */
  background-color: rgb(5, 12, 26);
}

section, footer{
    padding: 54px 0;
}

h3{
    font-size: 50px;
}

p{
    color: #0000009c;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}



header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 30%;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.471);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: #c0b599;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 1.3rem;
    display: block;
}

nav ul a:not(.btn)::after {
    content: "";
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after{
    width: 100%;
    color: #8b6b37;
}

nav .menu-icon{
    cursor: pointer;
    font-size: 25px;
    color: #c0b599;
    display: none;
}
nav .close-icon{
    display: none;
    font-size: 30px;
    color: #c0b599;
    cursor: pointer;
}
.banner{
    display: flex;
    justify-content: center;
}

.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1{
    font-size: 2.5rem;
    color: #8b6b37;
}

.banner .banner-text p{
    font-size: 1.3rem;
    color: #c0b599;
    font-weight: lighter;
    margin: 18px 0;
}

.lore .container{
    display: flex;
    align-items: center;
}

.lore .text{
    width: 50%;
    padding: 0 40px;
}

.lore .text h3{
    font-size: 56px;
    color: #8b6b37;
}

.lore .text p{
    margin: 5px 0 10px 0;
    color: #c0b599;
}

.lore .lore-img{
    width: 50%;
}

.lore .lore-img img{
    width: 100%;
}

.lore2 .container{
    display: flex;
    align-items: center;
}

.lore2 .text2{
    width: 50%;
    padding: 0 40px;
}

.lore2 .text2 h3{
    font-size: 40px;
    color: #8b6b37;
}

.lore2 .text2 p{
    margin: 5px 0 10px 0;
    color: #c0b599;
}

.lore2 .lore2-img{
    width: 50%;
}

.lore2 .lore2-img img{
    width: 100%;
}


.rodape {
    background-color: #4f9cf9;
    text-align: center;
}

.rodape i {
    color: #4f9cf9;
    font-size: 19px;
    background-color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}

.rodape p {
    margin-top: 10px;
    color: white;
}

@media(max-width: 830px){

    .ul{
        position: fixed;
        top: 0;
        left: 0;
        background-color:#8b00004e ;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
    }
    .ul.open{
        clip-path: circle(141.4% at 100% 0);
    }
    .ul a{
        margin: 10px 0;
        font-size: 16px;
    }
    nav .menu-icon{
        display: block;
    }
    nav .close-icon{
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;
    }

    
    .lore .text{
        margin-top: 10px;
        padding: 0 20px;
        order: 1;
    }
    .lore  .container{
        flex-direction: column;
    }
    .lore  .text h3{
        font-size: 48px;
    }
    .lore  .text,
    .lore  .lore-img{
        width: 100%;
    }
  

    .lore2 .text2{
        margin-top: 10px;
        padding: 0 20px;
        order: 1;
    }
    .lore2 .container{
        flex-direction: column;
    }
    .lore2 .text2 h3{
        font-size: 48px;
    }
    .lore2 .text2,
    .lore2 .lore2-img{
        width: 100%;
    }

    .banner .banner-text{
        padding: 0;
        margin: 80px;
    }
    .banner .banner-text  h1{
        font-size: 2.5rem;
    }
    .banner .banner-text  p{
        font-size: 1.3rem;
    }

    .depoimentos .card-item{
        width: 100%;
    }
    .servicos .card-servico{
        width: 100%;
    }
}

.wrapper{
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
}

.link{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #c0b599;
  border: 2px solid #654321;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.link span{
  position: relative;
  z-index: 2;
}

.link:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}

.link:hover{
  color: #fff;
}

.link:hover:after{
  width: 100%;
}

.hr-style{
    height: 1px;
    width: 100%;
    background-color: #c0b599;
    margin: 10px 0;
    box-shadow: 3px solid rgba(255, 255, 255, 0.699);
    border-radius: 10px;
}
.midia-bg{
    background-image: url(../src/images/Vi\ violet\ Arcane\ wallpaper\ _3.jpg);
}
.container4 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #8b6b37;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    overflow: hidden;
    max-width: 100%;
    margin-top: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(../images/bg-ing.jpg);
    background-size: cover;
    background-position: center center;
    /* background-attachment: fixed; */
    background-blend-mode: darken;
    color: #c0b599;
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  
  .logo {
    width: 10rem;
    height: 10rem;
    margin-right: 10px;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin: 2.4rem 2.4rem;
  }
  
  .footer-links a {
    font-size: 1.4rem;
    color: #c0b599;
    font-family: "League Gothic", sans-serif;
    letter-spacing: 1;
    margin: 2.4rem;
    padding: 2.4rem;
  }
  
  .footer-links a:hover {
    color: #8b6b37;
    scale: 1;
  }
  
  #copyright {
    font-size: 1.4rem;
    color: #c0b599;
    font-family: "League Gothic", sans-serif;
    letter-spacing: 1;
  }

  #zaun-region {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.25rem;
    /* background-image: url(../images/2arcane.jpg); */
    background-size: cover;
    
    background-blend-mode: darken;
    backdrop-filter: blur(2px);
  }
  
  .title-big {
    margin: 2.4rem 2.4rem;
    letter-spacing: 2px; 
  }
  
  .img-icon-zaun img {
    transition: transform 0.3s ease-in-out;
  }
  
  .img-icon-zaun img:hover {
    transform: scale(1.1); 
  }
  
  .description-zaun {
    width: 80%;
  }
  
.title-big {
    font-size: 1.4rem;
    color: #8b6b37;
    font-family: "League Gothic", sans-serif;
    letter-spacing: 1;
  }
  
  .title--medium {
    font-size: 1.4rem;
    color: #c0b599;
    font-family: "League Gothic", sans-serif;
    text-decoration: none;
    text-transform: none;
    font-weight: 400;
  }
  .load{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .loader-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #555;
    border-top-color:#8b6b37 ;
    animation: loader-circle 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; 
  }
  @keyframes loader-circle {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .center-content {
    max-width: 800px;
    margin: 0 auto;
}

.tab-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.tab-content {
    flex: 1 0 100%; 
    background-color:rgb(4, 4, 4);
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.tab-content:hover {
    background: linear-gradient(to right, #2a2319, #1e2507); 
}
.tab-content img :hover{
    scale: 1.5;
}
h2, p {
    color: #8b6b37;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .tab-content {
        flex: 0 0 100%; 
    }
}

.playlist {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    height: 100vh; 
  }

