// zaun city

.zaun-section {
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: 'League Gothic', sans-serif;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.518);
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: darken;
  background-image: url(../images/arcane-jinx-lol-skin-splash-art-hd-wallpaper-uhdpaper.com-16@1@e.jpg);
}

.zaun-title {
  font-size: 3.4rem;
  font-family: 'League Gothic', sans-serif;
}

.slider-container {
  margin: 20px 0;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s;
}

.slider img {
  width: 50%;
  height: auto;
  margin-right: 10px;
}

.zaun-description-title {
  font-size: 3.4rem;
}

.zaun-description {
  font-size: 2.4rem;
}

/* Adicione regras de CSS para telas menores (responsividade) */
@media screen and (max-width: 768px) {
  .zaun-section {
      padding: 10px;
  }

  .zaun-title {
      font-size: 28px;
  }

  .zaun-description-title {
      font-size: 20px;
  }

  .zaun-description {
      font-size: 16px;
  }
}